html::before {
    border: 38px solid #3b5998;
    /*
     * The following styles do not work in Chromium 13.0.782.107 (Developer Build 94237 Linux).
     * Since it did work in an earlier version of Chromium, this is most probably a regression.
     *
     * background-color: #3b5998;
     * height: 76px;
    */
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

body {
    color: #333333;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    line-height: 1.45;
    margin: 0 auto;
    max-width: 920px;
    position: relative;
}

a {
    color: #3b5998;
    outline-style: none;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 10px 0;
}

p:last-of-type {
    margin-bottom: 0;
}

body > h2 {
    color: #ffffff;
    background-color: #3b5998;
    padding: 20px;
    margin-bottom: 0px;
}

body > h2 > a {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL4AAAAkCAYAAAA3iYC4AAAAAXNSR0IArs4c6QAADZtJREFUeNrtnHuwXXV1xz/rt8++9+Y+zA1EMSEk8pRQmRRkeDQKWkCtLVZabSsyaae2JNo6WB06Qu2D1kE6kmLpWIPWzvAYR0bGlhZSJQQrYCCAKKI3kYB4Q3gkuRDCfZ9z9vr2j3Nuch9773vOvefeHErWzJ17Hvv329/f77fW2t+1fut34LA0pfRqb3R4Fg6KNhXnZz7UV4wl3eDyl5Qj7npyXiegSXHNRsHlWpIoOc+ldUmiGyRtlrSlZ0Dx68/gy23lok6WdJFLV8r9FkmPuOvyOb95z4Bilz+k2uSx+ZqUZsU1UykXdbJcT8k1mGK4L7/eFN+lK92126UkZT2vbuS9CmkfrmznBrCzmm1imhXXLGQRxvFpX5hpGOx1xmc43ow3pRqFN/ZWYYoX6tdijEvrADs/3rFJcc1GLE6SnG9fZ1oPBqX5utcUxbcOzgU6a9YvY8G8TEqT4josr00ppFjCKTledBTjZjkPmhEwInd2z5OFNiWuw/L/RPGBhdluV3eahcsOEdZmxXVYGhXcplGQ+aI6GJ7tWO2ZQ0gAmxPXYXlNSqjTJENTjqJZcR2W15Tij+RcPXoIsTYrrjmTlQ+W/LCKZkuvNoSZXldQXzHmiHiNi9iMIYlzshJpBme4a41E+7iP+6LIbp96s3LbMsK7cDvHgk7CrdsMJLDAq4Kn3dkajZbutfaW/in0pUlxpVKt0eIx3hJODdjRUjjCzFuFxSaGMYbcbSQYe/DkWUK0i188uddOeGt52n4viE/xRKuA0wgca2KBVKV9xm5DPxG2OZg9MbbAK2xdprH0DChe2aGzJFuN8VZDR8qtxQxkesWwZ1w8rkE2F7qsrx4lTJQsC9i7hJ1msBzRWZlTFYX1mfQzN39gF//2aBbGeh/bK2ydq1zsdov/AMACyA/+xwiJ+dYWi36YClizEZ+4Q9qrvVGS6Gq5emtq7trr0vpeldvGW2ez4hovZZVPkvvXJG2R/CnJ90g+KPlo5U9Dcn9V8pdc2unyn0raIvdLKmMsn5kDIZFUrAFq4vI7SvLFWZ6uVxuC3D8taUdtU6dX5P71kbKWT8sypVMlv11Sf419/0Suj6Uaj+srmYNM0nduJX0rf3aSk9O9imuJpJFZqNhtBxShX4slPTIzPdU2uR/b7LgO4CsXV0n+ROWSsUunvPaJXVXfVxd+GsWvV3ZoqNg1GWexpEWS7pvZ2P2lROX35yj9OklDM3NM/u3JhWf1Kr4S/fY0zuvyxgS36abzwphXiTr5H+CMmSVtOBlsk4aeb20MA5xjXFH8L2Bv42BdgaW8toldVd67+VNzQHlPYEG8fsIMbCpGcYG7gXfObOx2RCC6PVH5zCneOdGHDL4CM9woNLuYCwrfnqkyqq8YE/hSzhVbQrB/njPFd+w5gGO09oqZKte4mT5erUuuaUyiZ+5wScmvgM4muzBCk76b8D7Ids5RvHfxGDUD4IL4b2Y9dlgQFH11/Af7+tVuxpcbkKP+gLvWjM/j1yxHxuuBt6TTH0rFxD6Rm9Vx8wiYsZcN6AVtKkZm/EnOZaOguxD/irgDGMh2BPqo+opxs+KqaHE4EywmvYrMEd9H+k/Q3UhbgadBY3Uo2jZkuwBCEjW6HmfxMmzVmEeUWNeQXo1Vch2gPN2duiyrmKx+x88n621TfQL9WU6f17cW7PG8PgphePde2pZ8vrrNXwrG+zDOzHBjDxt8B4gP3iTc6tKpwHGW3mhI4gMhCpvHccMzDDYDb0hBfZQWxeeG4RceaEZcwGZDizMrJ5PS6dtG4p6x71eOVPW9m4iEN9ISlp/SWSgBeJQoEGU9Mtzg50LfELo/gYGQhKVRxJXAOTn05Fhgq7rj8/OUU3C/O+sj41k37wqEjwo+ZlkswPggsLHS2C7KLBwVQxjXOb4xgXLBw0oLXAWszGixquQ6MQ62o2anpmgDlo5TYsez1ndV/cxYujon0LsmI8j5SE6EtDnjPrflhOKXNzMuuV+V1WutueXpglt37Z1AW8bRDHftzpmLddXkwOdyxv7jtBNNLq3PabN1LCUq+XM5EeXHp2S/+rU4D3OS6ENVzNMGty5dmR+QJ++d6QZWW871qdTDpCXZhpRRLCZyTkiFo5oZl0yvZDnc5brsU/v61d4zoHg2x+XMVIR9U8p0F3XZkBmP1tDF0ZljNzbahS1JCke7JY9V92pDOLFDC5F1Z3n7UmLfnEIruqzPjPsyZzVo2XQcPwQNjPRrocFVOWt6c7Dou7XMb6HOiDFrmdpz+NZqd92EDtIQgoqQTluqQ2hvblz2co7GXtfdob/rNrufX4/uSRJ9dygM7upMWopWaBmpR/UHBxcHIK1mf2j6JzcLsyv6ld6+ZCPEGbVipgXL7/lj43y6MOIMgyrFpVLWxty+HNo1bbm5sEJLBzeSca3EHhsp/Xmts1uf4s8kB2QsN1gzkRPadINMmhmXlfUYBUbAWlMaGWZdwG8QwvsDqFMdvyDyTS59ff8APYu6bIg5FssKHioA654xYaolEh9N4rmqm1pjxknZA9Zf1rrT3pB0ZnVamrSmZG5wWRw9CdyGVJ6UskyzIqscLwzrDB7u7tRfj2q4Y85HrkNzBq11QWlOTo5V9lMy9fX+YOGmufaV6f6loYNU1PS4hl9cC9wEehqpv6royjCC8b18tkVtf1ST6s4Eo6qO2epvH0Wep3g1OZHR4XhODE7klaVzXLGkRXOn+F6/Z61Of5nKecrxf2mflYBS3VTnEOCy9qWjFsKf4n4p8EXQXcDPgL5xyp/+FLDsHPSEKGQmCmI2V4oXdl6w/5B5fMS3gBcyjPLoQsQN9XTXEI4vLLFsT/EdiqXLEosrj/c4cUrRxJ7GfxYn7uVo72sFl0WFh4CHKsaUvB3ZaTJWmextGO/ImOMTZqkFNu0vMLgpe17SHUKSBKKQ+bSz5fcshPNz6Yhle3z5dJhDrhvwByH8ADIU3LgkcX0tCnbfvGV1zLIjdtCwtbY8O6fEsklwWaX89YcAKhdXEMW3kF4nU9jXr/b0hM34Z1Km2WZuTLkqv1Rgxv6c4DY1K5MEWkNmiG/FnRf8u97MHw62qK2UkdkJ2c9ee0Mm8ZT1jy1jyA6uu4LZ5136RJXvTza6YPAl4PR54/iCZ3LcwFmVRT4Eoe0hxGWFll6k+7O+7o5L0wa4HR03TrGMkutE4LQcJ7Cn+uq5nK5TKy5bIn4/a+dWsGeFrfOnB9v2kW1UnS3t/M4U3q/hDgucm0Pqnp9OGeUVYzXxmZw1PU3un268x8+a6wF+FHXyKmlb/djS7g6+lyT6ItBTLjJkBaIgYmK1BbcjLWgJ2HFCK3HrttEXPmjtS0ebFZfKxTZC/A8YO0i0fRT7JcPsb+uyAwox0q+FwNmZNjk6OExrV176sLB0ZO3xI/1r9wDEnd6Fh7MNriE77+04OypMJ3ksJ6N5huR3AtcWR2xX3EaXwaXAX+QAegLglE4rufRzgyUZrvR6uS9KyrYxKmgUbCXib7HMDTUvix9P5/EPpitso9z/A7OLM6zocyX5zbGFvvq8pPSPmdvBidZnt/M7azzgUZzmgMX+tK36ZsKlpHx2pTrAX5LUI+kBSXdLfke15OG26vvRjLKC3VBDPb5r0F0vu+vlWs4muOvJsZIJDT3fKvcXaznIopouOliXL/mnaqy6r6XvAweGaq3HHylruaT9OfrwjXlKZwJwbW08mBjI+U1IDTSYdTQcl0JYXW11BBW++WvAhWAXAb8HfLj6viUjCPxfqKE602g3Y5EZi6ihUtWMW8eO9Vn70lHMbmwI3RWPR1bYeDAYKG+QDlCqWfUt5dXUp0tbwXYiXZeTxP6I3N89L4pvFh4QXNeInhobcM4FLltN9gEUyE9fCE+uh0p1ZsPiGdGzbZAvjP9sJ31/j/jRLLsuufnaSfHLCNaQXy/+7xDs5hm13Fy+RrA9Z72uny+PTzC7QvBPs1zAePnwHjUrrl5tCAbvmxj31RJnV68Tn+Ref6SRRi54XObvPaXTJhS1rbA3Jskg7wEenGG/+3E+HFm0deqchm+683E001+40F3bBvndmSqjXdiSiCQv0F2VSFfUrPju2UfJzHIrJMeU7DNO8pvAD1TnoZrqPfYytNibGZfQJYjrQFvI3q3VBIVHG12cx8ulr45VRhphCOibCZ7qHZ5G+qtn6Xt7ZNGuyV/3akModFkf95TeKfFZ4Je1KrzEraURftUiuyPruiiyDcjPFvovxFCNDqQHWGsWfmuyocqUucYhTKWhkRU2Vg8QZSn3taVhnZhBNyflcl3nmrHaqNShOEaorF3ksi21bhAAjJa1qiXSuxGnYvYW0DgFtUSi39CLjj2P+fYEtovi9lZbMNjMuHq1IQwOro1WtpWi0eG4tbXTlyEdBeHNGG9CHIE0rMB+k7YXrfTTliR6dXJ1Zq82hKMG1na1tvmKJIRjo6BjhR1jYqlEtwU6OFAmYQK9AuwS9qSRbN02GD08WXnypGdA8cp2vQNsNcaJwGLGtrmMATk7CTxqSeleK7TU9dujRZVXmKLzIjjdTMvk1lHh20oQu91su0o8EH2/9HBaSTSAJzqfwJmpa4y+l/bkUbl4FFFhjWTBTD6uDYJWoU1p7aZ4iOkGWM9Bi0ZJs+I6LK+NNU5r939l0ndpeVZhUAAAAABJRU5ErkJggg==");
    color: transparent !important;
    display: block;
    height: 36px;
    width: 190px;
}

body > h2::after {
    content: "Fefesbook ermöglicht es dir, mit den Menschen in deinem Zeitbinderbotnetz in Verbindung zu treten und Inhalte mit diesen zu trollen.";
    display: block;
    margin: -20px;
    position: relative;
    top: 40px;
    left: 0px;
}

body > h2 + b {
    display: block;
    margin: 50px auto 10px;
    text-align: center;
}

body > p[align=right] {
    color: transparent;
    font-size: 0px;
    margin: 0;
    position: absolute;
    left: 215px;
    top: 35px;
}

body > p[align=right] a {
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin: 10px;
}

body > h2 + b,
body > h3,
body > ul {
    max-width: 520px;
}
body > h3,
body > ul {
    margin: 10px auto;
}

body > h3 {
    border-bottom: 1px solid #999999;
    color: #999999;
    font-size: 11px;
}

body > h3:nth-of-type(1),
body > h3:nth-of-type(2) {
    color: transparent;
    font-size: 0px;
}

body > h3:nth-of-type(1)::before,
body > h3:nth-of-type(2)::before {
    color: #999999;
    font-size: 11px;
    display: inline-block;
}

body > h3:nth-of-type(1)::before {
    content: "Heute";
}

body > h3:nth-of-type(2)::before {
    content: "Gestern";
}

body > ul {
    padding: 0px 40px;
}

body > ul > li {
    border-bottom: 1px solid #d8dfea;
    list-style-type: none;
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJUSURBVDjLpZNbaJJhHMZHUES51SoiqssWm5SMQekoFwvnYR4RP02dh/yMMhJpW3PaFOuzURfNi8GUDusw3QGDgl0k0Y3QcbjVqtsY3cVAu9uMwqf3ey+EwXBFFw/vgef58X94eesA1P2P1r284DDfDp/ajUhHPQZOCuBr3wXWrLv/VwAf64pFtM0YO3sUN1U7MOo+gr4OAdzSA2Cd1pENASGjGKO2JgyQ0A3TIRJuQJw5DF/HXhha91Q2BJw/3ojLaiHGr2gwwp6A/VgjrhqbYW0/CKZtJ0b6zmyvCRhU7ltdfH4XxfcT+P76AeYf9ePrs2tYmB1DVLP/56eHF7fUBCQcre9Kc5NYLmSx8nGKaJruS/NTuOMRFWpWaJP7tkql0ux4oBPlwj2sfnlKtfIhg8mBTojF4iei0+e2rQtQKpUNKpWKU6vVSKVS6OnpwcQQQ6XRaOidTqfj93HiFawBkOCmYDB4izfypmQyCavVimw2i0wmA5PJhOHhYXg8HnR3d1dkMtkggWyuAkjwEsuySKfTMBgMMBqNsNvtyOVyyOfzsFgs0Gq1sNlsiEajcLvdFblc3lcFLAw1/16eHUQ4HAbHcdTkcDhAJqPjMwwDr9cLl8sFv9+PYi6Kt/0t5SpgMdJSKb24Tg2JRIKCSCVq5iv19vYiEAggHo9T2I+XHOaCwkoV8PmxPzQfavrldDqh1+upkVcsFqP9+an4M+mPrq4uLERFZZLh1rzC0rSvnnRsIs/4ivRdIuOXFQoFePEhshYlEskbs9ks/Dbjq6/5G/9FfwAGy37p9rgYIQAAAABJRU5ErkJggg==");
    margin: 10px 40px 0px 40px;
    padding-bottom: 10px;
}

body > ul > li:last-of-type {
    border-bottom: none;
    padding-bottom: 0px;
}

body > ul:nth-of-type(1) > li:nth-of-type(2n-1),
body > ul:nth-of-type(2) > li:nth-of-type(2n-2),
body > ul:nth-of-type(3) > li:nth-of-type(2n-3),
body > ul:nth-of-type(4) > li:nth-of-type(2n-4),
body > ul:nth-of-type(5) > li:nth-of-type(2n-5) {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAEvSURBVDjLY/j//z8DJZiBagZEtO8QAuKlQPwTiP/jwbuAWAWbARtXHrz1//efv//xgS0n74MMuQ3EbHADgBweIP7z99+//x++/fv/8tO//88+/vv/5P2//w/f/ft/782//7df/f1/5xXE8OoFx0GGmCEbIJcz9QBY8gVQ47MP//4/Bmp+8Pbf/7tQzddf/P1/9RnEgM5VZ0EGeGM14ClQ86N3UM2v//2/9RKi+QpQ88UnuA2AewHk/PtAW++8/vv/JlDzted//18Gar7wBGTAH7ABtYtOgAywxBqIIEOQAcg1Fx7/BRuMFoicuKLxDyzK5u64Cjfo/ecfYD5Q/DLWaMSGgQrvPH/3FabxOxDXEp0SgYp7Z267AtL4BYgLSUrKQA1KQHwPiFPolxcGzAAA94sPIr7iagsAAAAASUVORK5CYII=");
}

body > ul:nth-of-type(1) > li:nth-of-type(3n-1),
body > ul:nth-of-type(2) > li:nth-of-type(3n-2),
body > ul:nth-of-type(3) > li:nth-of-type(3n-3),
body > ul:nth-of-type(4) > li:nth-of-type(3n-4),
body > ul:nth-of-type(5) > li:nth-of-type(3n-5) {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAALQSURBVBgZBcFfaJVlHADg532/bzvNo9MtY1oXRlRWsCREIlFXoaBmUEIkaH9uCsokEIK6qbtg4UVBIN0kFETQnVQ3FmXOxMwg1BApA9GdTdFJbLqzc87763lSRNjy/i+vDgw2dudkLe5AAgmRiKJbyj83r8eP6b+Zd44d3LEAkCLC9g+PH/ty39qHc07LgkoAEAHh2mzHV7/fNHWpfeuvs+eHJw7uaEMNuUqr++tq2bmrqpwSiSj0ouh2w+1Oz5MPLPH4g7WT5dqiKA/NjL313dDRT59pZ0gpLY6Iqr/K+jJ1ospUiZTIEoqVg/12rFvp3vsbA/Vg8xBkCBJk5EROSU5JTklOSa6S1o3bVi3ueGQ4ee2JO1V91QtQA0RQVyRJpKT0gpzUFf2R/X09LJSuUhZsvK8h1bkLNUQQqFMWQiDlJCEKUWX6ySUppRIyKYMaAgUpkSSBQBT6KkDKUi+JHAoigBpKlwgKEiIC5IyS1FUQiSAkvUKvADWUEiKCYL5927k/jpu8eMby4SFTV69b9/ROA0uGHDt8yMhdQ36dmTE0O1iPjb3brKFX6AWdhY4jh7/WiFkv79ltbm7O5cuX/Tbxrap/wM7nnlXXlVarpe/06frI+cEPaijdUCK8980xq69d9NKeXd7+6HOzF064e+UKo6OjWlf+deDAKZOtKevXrze2aaNLly69nqHb7en1qKfOGh5sgqde2W9+oWPXrl02bNhg27Zttm7d6la7440394GlS5c2aui2S+mWEnnpinS5dRL8dGhc9HrGx8c1m00wNzcnlfDJxwdiy+bN6cqVK/M1dOZ7083+avn+7WuaX3x2NE/8fNSLY4+yadT09LQLFy5oNBpWrVplZGREztnEiVO9ycnJqRQR1u39YW+3E88n8VhemF68/Mb3ffeMLEuNRp+EM3OrO920KNYs+rM/KdFuL5RWa3rm1uzMlv8B/jBGW3bkYMYAAAAASUVORK5CYII=");
}

body > ul:nth-of-type(1) > li:nth-of-type(5n-1),
body > ul:nth-of-type(2) > li:nth-of-type(5n-2),
body > ul:nth-of-type(3) > li:nth-of-type(5n-3),
body > ul:nth-of-type(4) > li:nth-of-type(5n-4),
body > ul:nth-of-type(5) > li:nth-of-type(5n-5) {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJSSURBVDjLpZM9aBRhEIaf2c3dJZvNxT+I0cJK0SJGwcKfwvIQFUsRG9HSKkGLKGhjKZGICViJ5RkQtLSQGOxsElEIFsKJCsZ4t7ls9u/b/cZCLxqTzoGBgRmeeV+YEVXlf6IL4MaDFyNVzzvVirUsIojgqyXsDIlY0iR+Pj5aG98UUPW9U1fO7N/qeb781fM7RZgaJqfnzgKbA5Yjyp7ny5OXC4Pfm1+2tDN1FLBFt1txeotyycUYsWNTswtpEtfHR2u31wFE6M2BlTDberF2oMvzqihKYS0uvlsuuSRp7hZodXJ67jywHqDKqip+Kyqku8fn6cxHd6m57ASxICKoreCI4DrOzszIwNjUbJAm8aPx0dpIV4ekCkWhbmZdgnbuXD59CM/r+9eyABKmpn9yeu4S8Bsg9FoLIIUjPW4QKp7Xx8LXNq8b1+mvLhFlhk+L2zm+6w5H9+9GxJU1C6giKFnxgzwPKaySA7m1+P4iPaVtWFJsucG3VoRVi4hW1wAO9psW2U6vvMPtLlVxHAdVWIkyWklCoauEJqUZJbRIQQVV2muAKEpeTNTnDxorQ2lqKGz8C5BYGl/3YivvCE1E0NrDvoHKxju4d612H+Dm1KvhSpfdDZVBayGIC4YHxjjcGOH9h08EJ++SmxwFROSPhU5EUfJsoj5/BJVzgvL281WMMbzJMrLBEtm78xhjuHDiDWsvpKob8sbkTGOpGehymGgQJhqEsbZW/uRis623Hr5uqep6BX8pqU/U549ZnCHHEQT6FZbpbBXLahg/BpD/feefqppLG2N7xVoAAAAASUVORK5CYII=");
}

body > ul > li > a:first-child {
    color: transparent;
    font-size: 0px;
}

body > ul > li > a:first-child::before {
    color: #3b5998;
    content: "Felix von Leitner";
    font-size: 11px;
    font-weight: bold;
}

body > ul > li > a:first-child:hover::before {
    text-decoration: underline;
}

body > ul > li > a:first-child::after {
    color: #333333;
    font-size: 11px;
    content: " schrieb:";
}

div:last-of-type {
    margin: 10px;
    text-align: center;
}

div:last-of-type::after {
    content: " · CSS – erlehmann · Silk icon set 1.3 – CC-BY Mark James";
    white-space: pre;
}

body > h2::after
{
    background-color: #eceff6;
    border: 1px solid #d4dae8;
    color: #333333;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold;
}

body > h2 + b
{
    background-color: #fff9d7;
    border: 1px solid #e2c822;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
